<div class="card-body">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h1 class="card-title mb-0" style="color:rgb(92, 104, 115);">{{titulo}}</h1>            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table mat-table multiTemplateDataRows [dataSource]="tabelaSeries" class="mat-elevation-z8" *ngIf="tabelaSeries.data.length > 0">
            <!-- Código -->
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.codigo}}
                </td>
            </ng-container>
            <!-- Nome -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome da Série</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.nome}}
                </td>
            </ng-container>
            <!-- Unidade -->
            <ng-container matColumnDef="unidade">
                <th mat-header-cell *matHeaderCellDef>Unidade</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.unidade}}
                </td>
            </ng-container>
            <!-- Periodicidade -->
            <ng-container matColumnDef="periodicidade">
                <th mat-header-cell *matHeaderCellDef>Periodicidade</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.periodicidade}}
                </td>
            </ng-container>
            <!-- Início -->
            <ng-container matColumnDef="inicio" >
                <th mat-header-cell *matHeaderCellDef>Início</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.inicio  | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <!-- Último Valor -->
            <ng-container matColumnDef="ultimovalor">
                <th mat-header-cell *matHeaderCellDef>Último Valor</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.ultimovalor}}
                </td>
            </ng-container>
            <!-- Fonte -->
            <ng-container matColumnDef="fonte">
                <th mat-header-cell *matHeaderCellDef>Fonte</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.fonte}}
                </td>
            </ng-container>
            <!-- Especial -->
            <ng-container matColumnDef="especial">
                <th mat-header-cell *matHeaderCellDef>Especial</th>
                <td mat-cell *matCellDef="let element; let indice = index">
                    {{element.especial}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let element; columns: colunas;"></tr>
        </table>
        <mat-paginator showFirstLastButtons #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="[100, 200, 500, 1000, 5000, 10000]" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
        <div *ngIf="tabelaSeries.data.length < 1">Não existem registros de Series</div>
        <br>
    </mat-expansion-panel>
</div>


