
<div class="card" *ngIf="mostraTabelaSeries">
  <app-tabela-series titulo="Series Ativas" [series]="seriesAtivas"></app-tabela-series>
</div>
<mat-spinner *ngIf="!mostraTabelaSeries && !erroMostrarTabelaSeries" style="margin:0 auto;" diameter="50"></mat-spinner>

<br><br>

<div class="card" *ngIf="mostraTabelaSeriesDesativadas">
  <app-tabela-series titulo="Series Desativadas" [series]="seriesDesativadas"></app-tabela-series>
</div>
<mat-spinner *ngIf="!mostraTabelaSeriesDesativadas && !erroMostrarTabelaSeriesDesativadas" style="margin:0 auto;" diameter="50"></mat-spinner>